.cautraloi{
    border: 1px solid black;
    margin: 20px;
}
/* .cautraloi:hover{
    background-color: blue;
    text-decoration: 200px;
    color: white;
} */
.dung{
    background-color: blue;
    color: white;
}
.btn{
    justify-content: space-between;
}