/* .box2{
    background-image: url("../../images/lession1.jpg");
    width: 100%;
    height: 300px;
    z-index: 2;
    margin-top: 10%;
}
.anh{
    margin-top: 5%;
}
.cntt{
    margin-top: 10%;
}
.dinhhuong{
    text-align: center;
    justify-content: space-between;
    background-image: url("../../images/invision-bg.jpg");
}
.box4-dinhhuong{
    border-radius: 10px 10px 10px 10px;
}
.smart{
    text-align: center;
    width: 100%;
    height:240px;
    position: relative;
    background-image: url("../../images/green-rectangle.png");
}
.anh-smart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
} */