.ava {
    width: 50px;
    height: auto;
    object-fit: cover;
    border-radius: 60%;
}

.scroll-tk {
    background-color: rgb(131, 130, 129);
    border: 1px solid black;
    color: white;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}